.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltiptext {
  background-color: #f44336;
  color: white;
  text-align: center;
  padding: 8px 12px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: -45px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  font-weight: 700;
  width: max-content;
  max-width: 300px;
}
